<a href="https://colab.research.google.com/github/arizal124120052/Teknik-Pemrograman-TG25-21002-ITERA/blob/main/Week04_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
list_angka = [1,2,3]
list_data = ["Arizal", 124120052, 124120053 True]
print (list_data)

['Arizal', 124120052, True]

In [7]:
print(list_data[0:2])

['Arizal', 124120052]

In [9]:
list_nim = [1,2,3,4,5,6,7,8]

In [13]:
print (list_nim[-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7,8])

TypeError: list indices must be integers or slices, not tuple

In [17]:
#append
list_nim.append(100)

In [18]:
print(list_nim)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [25]:
#append
list_angka.append(100)

In [26]:
print(list_angka)

[1, 2, 3, 100, 100, 100, 100, 100, 100, 100]

In [27]:
list_angka = [1,2,3]
list_data = [1]
print (list_data)

[1]

In [30]:
tampungan_y = []
for x in range (1, 5) :
    y = x**2 + 2 * x + 1
    tampungan_y.append(y)

In [32]:
print (tampungan_y)

[4, 9, 16, 25]

In [33]:
list_ganjil

NameError: name 'list_ganjil' is not defined

In [ ]:
tampungan_y = []
ganjil = []
for x in range (1,101) :

Tuple

In [34]:
tuple_1 = (1, 2 ,3)

In [37]:
a, b, c = tuple_1

In [38]:
tuple_1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
set_1 = {1, 2, 3}
print(set_1)

In [41]:
for s in set_1
  print (s)

SyntaxError: expected ':' (ipython-input-725012501.py, line 1)

In [42]:
#gabungan

In [45]:
mhs = {"key" : "value"}
print(type(mhs))

<class 'dict'>

In [46]:
1 for data in mhs.items
           print(data)

SyntaxError: invalid syntax (ipython-input-3661882700.py, line 1)

kombinasi

In [48]:
mhs = {
    "nama" : ["andi", "Arizal", "garcia"]
    "nim" : [123, 124, 125]
    "prodi" ; ["TG", "GL", "IF"]
    "univ" : "itera"

}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-717251213.py, line 2)